@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-top: 3.5rem;
  width: 55%;
  padding-inline: 1rem;

  & h1 {
    font-size: clamp(1.5rem, -0.875rem + 8.333333vw, 2.8rem);
    margin-block: 1.7rem 0.9rem;
    font-weight: 700;
    color: var(--very-dark-blue);

    & span {
      color: var(--gray);
      font-weight: 300;
    }
  }

  & p {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.4rem);
    color: var(--very-dark-blue);
  }

  & form {
    margin-block: 2rem 4rem;

    & span {
      display: none;
      float: left;
      margin: 0.6rem 0 0 2rem;
      font-size: 0.7rem;
      color: var(--light-red);
    }
  }

  & input[type="email"] {
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    width: 65%;
    font-size: 1rem;

    &::placeholder {
      color: var(--pale-blue);
      opacity: 1;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .error-message {
    display: block;
  }

  & input[aria-invalid="false"] {
    border: 1px solid var(--pale-blue);
  }
  & input[aria-invalid="true"] {
    border: 1px solid var(--light-red);
  }

  & input[type="submit"] {
    background: var(--blue);
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 2rem;
    width: 30%;
    margin-left: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 8px 0 var(--pale-blue);
    transition: all 0.5s ease-in;

    &:hover {
      background: hsla(223, 87%, 63%, 0.7);
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}

main {
  max-width: 830px;
  padding: 0 1rem;

  & img {
    width: 100%;
    height: auto;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  padding: 1rem;

  & ul {
    display: flex;
    list-style: none;
    gap: 1rem;

    & li {
      padding: 1rem;
      border: 1px solid var(--blue);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s ease-in;

      & a {
        text-decoration: none;
        color: var(--blue);
      }

      &:hover {
        background: var(--blue);

        & a {
          color: #fff;
        }
      }
    }
  }

  & p {
    color: var(--gray);
    font-size: clamp(0.6rem, -0.875rem + 8.333333vw, 0.8rem);
    margin-block: 2rem 1rem;
  }

  & .attribution {
    color: var(--gray);
    font-size: clamp(0.6rem, -0.875rem + 8.333333vw, 0.8rem);

    & a {
      text-decoration: none;
      color: var(--light-red);
    }
  }
}
