@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --barlow: "Barlow", sans-serif;
  --barlow-condensed: "Barlow Condensed", sans-serif;
  --bellefair: "Bellefair", serif;
  --dark-blue: rgb(13, 14, 23);
  --light-gray: rgb(208, 214, 249);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--dark-blue);
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 3rem;
}

img {
  width: 100%;
  display: block;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  padding-right: 0;
}

.line {
  width: 473px;
  height: 1px;
  opacity: 0.2515;
  background: #fff;
  position: relative;
  left: 60px;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7rem 4rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  width: 830px;

  & ul {
    display: flex;
    list-style: none;
    gap: 3rem;
  }

  & a {
    color: #fff;
    font-family: var(--barlow-condensed);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.16875rem;
    text-transform: uppercase;
    text-decoration: none;

    & span {
      font-weight: 700;
    }
  }

  .hover-line,
  .active-line {
    width: 0%;
    height: 3px;
    background: rgba(255, 255, 255, 0.5021);
    position: relative;
    top: 27px;
    transition: all ease 0.4s;
  }

  .hovered {
    width: 100%;
  }

  .active {
    background: var(--white);
    width: 100%;
  }
}

.hamburger {
  display: none;
}

main {
  max-width: 1440px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  padding: 0rem 4rem 6rem 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1 0 40%;
  min-height: 100%;
  margin-left: 4rem;
  padding: 0 3rem 4rem 3rem;

  & h5 {
    color: var(--light-gray);
    font-family: var(--barlow-condensed);
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 4.725px;
    text-transform: uppercase;
  }

  & h1 {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 9.375rem;
    font-weight: 400;
    margin-block: 24px;
    text-transform: uppercase;
  }

  & p {
    color: var(--light-gray);
    font-family: var(--barlow);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 175%;
    padding-right: 8rem;
    letter-spacing: 0.03rem;
  }
}

.oval-container {
  display: flex;
  padding: 0 3rem 4rem 3rem;
  margin-right: 3rem;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1 0 40%;
  min-height: 100%;

  & .oval {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background: #fff;
    transition: all ease 0.4s;

    & a {
      text-decoration: none;
      color: var(--dark-blue);
      font-family: var(--bellefair);
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 2px;
      margin-top: 10px;
    }
  }
  .shadow {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.1036);
  }
}

/* Destination */

.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}

@keyframes opacityAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes planetRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.destination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 40%;
  min-height: 100%;

  & h5 {
    color: var(--white);
    font-family: var(--barlow-condensed);
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-right: 4rem;

    & span {
      font-weight: 700;
      color: rgba(255, 255, 255, 0.25);
    }
  }

  img {
    width: 76%;
    margin-top: 6rem;
    margin-left: 8rem;
    animation: ease 3s opacityAnim forwards, planetRotation 200s infinite linear;
  }
}

.destination-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8rem 4rem 6rem;
  flex: 1 0 40%;
  min-height: 100%;

  & .destination-list {
    width: 100%;

    & ul {
      display: flex;
      list-style: none;
      gap: 2rem;

      & li {
        color: var(--light-gray);
        font-family: var(--barlow-condensed);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.16875rem;
        text-transform: uppercase;
        cursor: pointer;

        & .underline {
          width: 0%;
          height: 3px;
          background: var(--white);
          margin-top: 10px;
          transition: all 0.5s ease;
        }

        & .underline-hover {
          width: 100%;
          opacity: 0.5;
        }

        & .underline-active {
          width: 100%;
          opacity: 1;
        }
      }

      & .li-active {
        color: var(--white);
      }
    }
  }

  .destination-description {
    & h1 {
      color: var(--white);
      font-family: var(--bellefair);
      font-size: 6.25rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-block: 2rem 1rem;
      animation: ease 3s opacityAnim forwards;
    }

    & .p-height {
      min-height: 160px;
    }

    & p {
      color: var(--light-gray);
      font-family: var(--barlow);
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0.03rem;
      animation: ease 3s opacityAnim forwards;
    }

    & .line-destination {
      width: 100%;
      height: 1px;
      background: #383b4b;
      margin-block: 3rem 1rem;
      animation: ease 3s opacityAnim forwards;
    }

    & .distance-time {
      display: flex;
      width: 100%;
      gap: 3rem;
      animation: ease 3s opacityAnim forwards;

      & .distance p,
      .time p {
        color: var(--light-gray);
        font-family: var(--barlow-condensed);
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 2.362px;
        text-transform: uppercase;
      }
      & .distance h3,
      .time h3 {
        color: #fff;

        font-family: var(--bellefair);
        font-size: 1.75rem;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

/* Crew */

.crew-main {
  padding-bottom: 0;
}

.crew {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
  padding-bottom: 0;
}

.crew-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 6rem 0;
  flex: 1 0 55%;
  min-height: 100%;
  margin-left: 1rem;

  & h5 {
    color: var(--white);
    font-family: var(--barlow-condensed);
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.29531rem;
    text-transform: uppercase;
    margin-bottom: 3rem;

    & span {
      font-weight: 700;
      opacity: 0.25;
    }
  }

  & h2 {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5;
  }

  & h1 {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-block: 1.2rem 2.5rem;
  }

  & p {
    color: var(--light-gray);
    font-family: var(--barlow);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    max-width: 27.75rem;
    min-height: 160px;
  }

  & ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-bottom: 3rem;

    & li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      color: var(--white);
      background: var(--white);
      cursor: pointer;
      opacity: 0.174363;
      transition: all 0.4s ease-in;
    }
    & :hover {
      opacity: 0.500094;
    }
    & .li-active {
      opacity: 1;
    }
  }
}

.crew-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  flex: 0 1 40%;
}

/* technology */

.technology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}

.technology-main {
  max-width: 1440px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;

  & .heading-space {
    display: flex;
    width: 76%;
  }

  & h5 {
    color: var(--white);
    font-family: var(--barlow-condensed);
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.29531rem;
    text-transform: uppercase;

    & span {
      font-weight: 700;
      opacity: 0.25;
    }
  }
}

.main-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  min-height: 60vh;
}

.technology-list {
  flex: 0 0 18%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.4rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    & button {
      border: 1px solid rgba(255, 255, 255, 0.25);
      width: 5rem;
      height: 5rem;
      background: transparent;
      padding-top: 5px;
      border-radius: 50%;
      color: var(--white);
      font-family: var(--bellefair);
      font-size: 2rem;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.5s ease-in;

      &:hover {
        border: 1px solid var(--white);
      }
    }

    & .active-btn {
      color: #0b0d17;
      background: var(--white);
    }
  }
}

.technology-content {
  flex: 0 0 45%;
  padding-inline: 3rem 5rem;
  min-height: 293px;

  & h6 {
    color: var(--light-gray);
    font-family: var(--barlow-condensed);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.16875rem;
    text-transform: uppercase;
  }

  & h1 {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 3.5rem;
    font-weight: 400;
    margin-block: 0.4rem 1rem;
    text-transform: uppercase;
  }

  & p {
    color: var(--light-gray);
    font-family: var(--barlow);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    padding-right: 3rem;
  }
}

.technology-container {
  flex: 0 0 40%;
  padding-left: 2rem;
}

@media (max-width: 1440px) {
  .technology-content {
    padding-inline: 1rem 2rem;
  }
  .destination-content {
    padding: 0 0 4rem 4rem;
  }
  .crew-content {
    padding-inline: 1rem 0;
  }
}

@media (max-width: 1024px) {
  .container {
    background-image: url("./assets/home/background-home-tablet.jpg");
    padding-top: 0;
    overflow-y: auto;
  }
  nav {
    padding: 0 0 0 1.3rem;
    height: auto;
  }
  .line {
    display: none;
  }
  .menu {
    max-width: 600px;
    padding: 1.75rem 2rem;
    & ul {
      gap: 2rem;
    }
    & a {
      font-size: 0.875rem;
      letter-spacing: 0.14763rem;
      & span {
        display: none;
      }
    }
  }
  main {
    padding: 0rem 2rem;
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    align-items: center;
    min-height: auto;
    margin-left: 0;
    margin-top: 3rem;
    padding: 0;
    & h5 {
      font-size: 1.25rem;
      letter-spacing: 0.21094rem;
    }

    & h1 {
      font-size: 9.375rem;
      line-height: 9.375rem;
    }

    & p {
      font-size: 1rem;
      padding: 0 5rem;
      width: 37rem;
      text-align: center;
    }
  }
  .oval-container {
    display: flex;
    padding: 0;
    margin-right: 0;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    min-height: auto;
    & .oval {
      width: 242px;
      height: 242px;
    }
  }
  .destination {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }
  .destination-main {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
  }
  .destination-container {
    align-items: flex-start;
    width: 100%;
    & h5 {
      font-size: 1.25rem;
      letter-spacing: 0.21094rem;
    }
    .destination-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block: 3rem;
    }
    img {
      width: 45%;
      margin: 0;
    }
  }
  .destination-content {
    justify-content: center;
    width: 100%;
    padding: 0;
    & .destination-list {
      width: auto;
    }

    .destination-description div:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & h1 {
        font-size: 5rem;
      }
      & .p-height {
        width: 35.8125rem;
        min-height: auto;
      }
      & p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: 0.03rem;
      }
      & .distance-time {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0;
      }
    }
  }
  .crew {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }
  .crew-main {
    height: auto;
    padding-top: 3rem;
  }
  .crew-content {
    padding-inline: 0;
    margin-left: 0;
    & .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }
    & h5 {
      font-size: 1.25rem;
      letter-spacing: 0.21094rem;
      margin-bottom: 0rem;
    }
    & h2 {
      text-align: center;
      font-size: 1.5rem;
    }
    & h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-block: 1.2rem 2.5rem;
    }
    & p {
      text-align: center;
      font-size: 1rem;
      line-height: 1.75rem;
      min-height: auto;
    }
    & ul {
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
    }
  }
  .crew-container {
    max-width: 70%;
    margin: 0 auto;
  }
  .technology {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
  }
  .technology-main {
    height: auto;
    & .heading-space {
      width: 95%;
    }
    & h5 {
      font-size: 1.25rem;
      letter-spacing: 0.21094rem;
    }
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .technology-list {
    padding-right: 0;
    order: 2;
    margin-block: 4rem;
    & ul {
      flex-direction: row;
      align-items: center;
      & button {
        width: 3.75rem;
        height: 3.75rem;
        font-size: 1.5rem;
      }
    }
  }
  .technology-content {
    order: 3;
    padding-inline: 0;
    & h6 {
      text-align: center;
    }
    & h1 {
      font-size: 2.5rem;
      text-align: center;
    }
    & p {
      text-align: center;
      font-size: 1rem;
      line-height: 1.75rem;
      padding-right: 0;
      max-width: 28.6rem;
    }
  }
  .technology-container {
    order: 1;
    padding-left: 0;
    width: 100%;
    & img {
      width: 101%;
    }
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
  }
  nav {
    padding: 1.5rem;
  }
  .menu {
    display: none;
  }
}
