@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  --white: hsl(0, 0%, 100%);
  --dark-desaturate-blue: rgb(52, 54, 80);
  --very-dark-blue: rgb(30, 31, 41);
  --darkest-blue: rgb(26, 26, 35);
  --violet: #211d2b;
  --light-violet: #241e2c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-size: 85.6%;
}

body {
  background: var(--darkest-blue);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("./images/bg-stars.svg"),
    url("./images/pattern-hills.svg"),
    linear-gradient(var(--darkest-blue), var(--violet), var(--light-violet));
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom center, center;
}

header h1 {
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.1rem;
  text-align: center;
  position: relative;
}

.card-bottom,
.card-top,
.card-top-back,
.card-top-fixed {
  width: 173px;
  height: 78px;
  overflow: hidden;
  position: relative;
}

.card-top {
  z-index: 1;
  backface-visibility: hidden;
  animation: flip-top 1s infinite ease;
}

@keyframes flip-top {
  100% {
    rotate: x 90deg;
  }
}

.card-top,
.card-top-fixed {
  border-radius: 0.7rem 0.7rem 0 0;
  background: hsl(240, 21%, 22%);
  transform-origin: bottom;
  rotate: x 0deg;
}

.card-top-fixed {
  position: absolute;
  top: 0;
  z-index: 0;
}
.card-top-back {
  border-radius: 0.7rem 0.7rem 0 0;
  background: hsl(240, 21%, 22%);
  position: absolute;
  top: 0px;
  transform-origin: bottom;
  rotate: x 90deg;
  z-index: 1;
}

.card-bottom {
  border-radius: 0 0 0.7rem 0.7rem;
  background: var(--dark-desaturate-blue);
  box-shadow: 0 13px var(--darkest-blue);
  rotate: x 0deg;
}

.card-bottom p,
.card-top p,
.card-top-back p,
.card-top-fixed p {
  font-size: 6.5rem;
  font-weight: 700;
  color: var(--soft-red);
}

.line {
  width: 173px;
  height: 1px;
  background: rgba(59, 49, 81, 0.37);
  position: absolute;
  z-index: 1;
}
.line::before,
.line::after {
  content: "";
  display: block;
  width: 8px;
  height: 14px;
  background: var(--darkest-blue);
  border-radius: 0 10px 10px 0;
  position: relative;
  top: -7px;
}
.line::after {
  border-radius: 10px 0 0 10px;
  left: 167px;
  top: -21px;
}

.card-top .fixed-numbers,
.card-top-fixed .fixed-numbers {
  position: absolute;
  bottom: -59px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.8;
}

.card-bottom .fixed-numbers {
  position: absolute;
  top: -59px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-top-fixed .fixed-numbers {
  position: absolute;
  top: 19px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-top-back .fixed-numbers {
  position: absolute;
  bottom: -59px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  rotate: x 180deg;
}

.period {
  padding: 2rem;
}
.period p {
  color: var(--grayish-blue);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

footer > div {
  margin: 2rem;
}
